.zone {
  width: 50em;
  height: 50em;
  border-radius: 40px;
  opacity: 0.8;
  border: 10px solid #b4b1b1;
  box-shadow: 10px 10px 10px #444;
  text-align: center;
  padding-top: 20px;
  margin-left: auto;
  margin-right: auto;
  background: #ffb224;
  margin-top: -70vh;
}
h1 {

  font-size: 30px;
  font-family: 'Heebo';
  margin-bottom: 20px;

}

video{
  border-radius: 35px;
}

.btn {
  font-family: sans-serif;
  color: white;
  text-decoration: none;
  letter-spacing: 2px;
  background-color: #1b8bf9;
  padding: 15px 50px;
  border-radius: 5rem;
  transition: 2s cubic-bezier(0.01, 1.69, 0.99, 0.94);
  margin-top:10px;
  margin-bottom: 10px;
  margin-left: 20px;
}
.btn:hover{
  transform: scale(1.1);
  cursor: pointer;
}

.in {
  padding: 0 30px;
  font-size: 25px;
  width: 75%;
  height: 80px;
  border-radius: 20px;
  text-align: center;
}
.in:active{
  transform: scale(1);
  background: #ffb224;
}
