
<div class="game-zone" style="background-image: url({{this.arena.arenaImg}})">

  <div class="health-bar" style="left: 11vw; bottom: 10vw">

    <div style="display: flex; justify-content: space-evenly">
      <strong style="text-align: left; width: 100%">{{this.game.user1.username}}</strong>
      <span style="text-align: right; width: 100%">{{this.game.p1_characs[playingCharacP1].charName}}</span>
    </div>

    <div
      class="bar"
      style="
        background: rgb({{200 - (percentage1()/100)*200}},{{(percentage1()/100)*200}}, 0);
        width: {{percentage1()}}%
      ">
    </div>

    <div class="remaining-hp">
      <div>{{player1CharacterHP}}/{{player1CharacterHPInitial}}</div>
    </div>

  </div>

  <img
    class="player1-img"
    [class.attacking] = "attackingScene[0][0]"
    [class.damaged] = "attackingScene[0][1]"
    src={{player1Choices[playingCharacP1]}}
    alt
  />

  <img
    class="player1-choice1"
    *ngIf="remainingCharacters[0][(playingCharacP2+1)%3]"
    src={{player1Choices[(playingCharacP1+1)%3]}}
    alt
  />

  <img
    class="player1-choice2"
    *ngIf="remainingCharacters[0][(playingCharacP2+2)%3]"
    src={{player1Choices[(playingCharacP1+2)%3]}}
    alt
  />

  <div class="health-bar" style="right: 10vw; top:10vw">
    <div style="display: flex; justify-content: space-evenly">
      <strong style="text-align: left; width: 100%">{{this.game.user2.username}}</strong>
      <span style="text-align: right; width: 100%">{{this.game.p2_characs[playingCharacP2].charName}}</span>
    </div>

    <div
      class="bar"
      style="
        background: rgb({{200 - (percentage2()/100)*200}},{{(percentage2()/100)*200}}, 0);
        width: {{percentage2()}}%
      "
    ></div>

    <div class="remaining-hp">
      <div>{{player2CharacterHP}}/{{player2CharacterHPInitial}}</div>
    </div>
  </div>
  <img
    class="player2-img"
    [class.attacking] = "attackingScene[1][0]"
    [class.damaged] = "attackingScene[1][1]"
    src={{player2Choices[playingCharacP2]}}
    alt
  />

  <img
    class="player2-choice1"
    *ngIf="remainingCharacters[1][(playingCharacP2+1)%3]"
    src={{player2Choices[(playingCharacP2+1)%3]}}
    alt
  />

  <img
    class="player2-choice2"
    *ngIf="remainingCharacters[1][(playingCharacP2+2)%3]"
    src={{player2Choices[(playingCharacP2+2)%3]}}
    alt
  />

  <div *ngIf="attackingPlayer == 0" class="play-box">
    <button
      class="ab1" (click)="attackPlayer(this.game.p1_characs[playingCharacP1].ab1.damage)">
      {{this.game.p1_characs[playingCharacP1].ab1.abName}}
    </button>
    <button
      class="ab2" (click)="attackPlayer(this.game.p1_characs[playingCharacP1].ab2.damage)">
      {{this.game.p1_characs[playingCharacP1].ab2.abName}}
    </button>
    <button
      class="ab3" (click)="attackPlayer(this.game.p1_characs[playingCharacP1].ab3.damage)">
      {{this.game.p1_characs[playingCharacP1].ab3.abName}}
    </button>
    <button
      class="ab4" (click)="attackPlayer(this.game.p1_characs[playingCharacP1].ab4.damage)">
      {{this.game.p1_characs[playingCharacP1].ab4.abName}}
    </button>
    <div class="text-box">
      <h1 style="font-size: 1.7em;font-family: 'Bowlby One SC', cursive;">{{this.game.user1.username}} It's your turn ..</h1>
      <h2 style="font-size: 1.8em;font-family: 'Bowlby One SC', cursive;">What will {{this.game.p1_characs[playingCharacP1].charName}} Do ?</h2>
    </div>
  </div>

  <div *ngIf="attackingPlayer == 1" class="play-box">
    <button
      class="ab1" (click)="attackPlayer(this.game.p2_characs[playingCharacP2].ab1.damage)">
      {{this.game.p2_characs[playingCharacP2].ab1.abName}}
    </button>
    <button
      class="ab2" (click)="attackPlayer(this.game.p2_characs[playingCharacP2].ab2.damage)">
      {{this.game.p2_characs[playingCharacP2].ab2.abName}}
    </button>
    <button
      class="ab3" (click)="attackPlayer(this.game.p2_characs[playingCharacP2].ab3.damage)">
      {{this.game.p2_characs[playingCharacP2].ab3.abName}}
    </button>
    <button
      class="ab4" (click)="attackPlayer(this.game.p2_characs[playingCharacP2].ab4.damage)">
      {{this.game.p2_characs[playingCharacP2].ab4.abName}}
    </button>
    <div class="text-box">
      <h1 style="font-size: 1.7em;font-family: 'Bowlby One SC', cursive;">{{this.game.user2.username}} It's your turn ..</h1>
      <h2 style="font-size: 1.8em;font-family: 'Bowlby One SC', cursive;">What will {{this.game.p2_characs[playingCharacP2].charName}} Do ?</h2>
    </div>
  </div>
</div>
