<div style="display: grid; justify-content: space-evenly">

  <div class="ab-form">

    <div class="normal-input">
      <label>Ability Name</label>
      <input [(ngModel)]="AbilityName" [value]="AbilityName" type="text" name="charName" [defaultValue]="AbilityName" >
    </div>

    <label>Choose your Ability's Damage</label>

    <div class="normal-input">
      <label>Damage</label>
      <input [(ngModel)]="damage" [value]="damage" type="number" name="damage" min="30" max="50" [defaultValue]="40">
    </div>

    <button
      *ngIf="AbilityName "
      class="bn29"
      (click)="addAbility()"
    >
      Add Ability</button>
  </div>

</div>
