<div class="player">
  Player {{this.playerNum}}, it's your turn to choose a character
</div>

<div id="cards">
  <div class="cardprop">
    <div *ngFor="let data of characters" (click)="chooseCharacter(data)">
    <figure class={{data.cardType}}>
      <div class="card__image-container">
        <img src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/575ec21b-072c-4dc2-9964-69874e4837a3/d2ljbl1-968659c4-a4bf-40ba-b791-80cfaaeb1bcc.png/v1/fill/w_804,h_994,strp/eevee_redraw_by_kirkbutler_d2ljbl1-pre.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9MTAwMCIsInBhdGgiOiJcL2ZcLzU3NWVjMjFiLTA3MmMtNGRjMi05OTY0LTY5ODc0ZTQ4MzdhM1wvZDJsamJsMS05Njg2NTljNC1hNGJmLTQwYmEtYjc5MS04MGNmYWFlYjFiY2MucG5nIiwid2lkdGgiOiI8PTgwOSJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.jWgetIt1sRiA1wEBXZvQSb6mAhrsfoJK2_T74mpSSq4" alt="Eevee" class="card__image">
      </div>
      <figcaption class="card__caption">
        <h1 class="card__name"> {{data.charName}}</h1>
        <table class="card__stats">
          <tbody><tr>
            <th>Ability 1</th>
            <td>{{data.ab1.abName}}</td>
          </tr>
          <tr>
            <th>Ability 2</th>
            <td>{{data.ab2.abName}}</td>
          </tr>

          <tr>
            <th>Abiliy 3</th>
            <td>{{data.ab3.abName}}</td>
          </tr>

          <tr>
            <th>Ability 4</th>
            <td>{{data.ab4.abName}}</td>
          </tr>
          </tbody></table>
      </figcaption>
    </figure>
  </div>
  </div>
</div>

<div  *ngIf="characters && characters.length == 0">
    <div class="card-container">
      <span class="card-to-arena" routerLink="/arenas">Choose Arena</span>
    </div>
</div>
