<div style="display: grid; justify-content: space-evenly">

  <div class="arena-form">

    <div class="normal-input">
      <label>Arena Name</label>
      <input [(ngModel)]="ArenaName" [value]="ArenaName" type="text" name="charName" [defaultValue]="ArenaName" >
    </div>

    <label>Put your Arena's URL in this Box and pick it</label>

    <div class="normal-input">
      <label>Arena Image URL</label>
      <input #url type="text"  name="side" >
      <button class="url-button" (click)="chooseUrl(url.value)">Pick it</button>
    </div>

    <button
      *ngIf="ArenaName && this.img"
      class="bn29"
      (click)="addArena()"
    >
      Add Arena</button>
  </div>

  <div class="img">
    <div class="text">Your Arena Preview</div>
    <img style="height: 40vh" src={{img}}/>
  </div>

</div>
