

<div class="bg">

  <!-- Toolbar -->
  <div class="toolbar" role="banner">

    <a aria-label="Sound Controller" title="Play/Pause Sound" routerLink="/" (click)="soundManagement.playSound(soundManagement.pikaAudio,0)">
      <img
        width="40"
        alt="Pikachu Logo"
        src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/5baa742a-0c38-45ae-ad34-4265aed117dc/d5xuhr4-23a12779-76a2-4fa7-bac3-5775a078160d.png/v1/fill/w_800,h_724,q_75,strp/pikachu_couleur_t_recadre_by_popoquake-d5xuhr4.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwic3ViIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl0sIm9iaiI6W1t7InBhdGgiOiIvZi81YmFhNzQyYS0wYzM4LTQ1YWUtYWQzNC00MjY1YWVkMTE3ZGMvZDV4dWhyNC0yM2ExMjc3OS03NmEyLTRmYTctYmFjMy01Nzc1YTA3ODE2MGQucG5nIiwid2lkdGgiOiI8PTgwMCIsImhlaWdodCI6Ijw9NzI0In1dXX0.WlnxlWyFKIxCrCd_zx426UDEzVeMyBcMokSS16l5EdA"
      />
    </a>

    <span>{{title}}</span>

    <div class="spacer"></div>

    <a aria-label="Sound Controller" title="Play/Pause Sound" (click)="soundManagement.playSound(soundManagement.mainAudio,soundManagement.mainSoundStatus)">
      <div class="bouton" onclick="this.classList.toggle('active')">
        <div class="fond" x="0" y="0" width="100" height="100"></div>
        <div class="icon" width="100" height="100">
          <div class="button-part left" x="0" y="0" width="100" height="100" fill="#fff"></div>
          <div class="button-part right" x="0" y="0" width="100" height="100" fill="#fff"></div>
        </div>
        <div class="pointer"></div>
      </div>
    </a>
  </div>


  <div class="mask rgba-black-light d-flex justify-content-center align-items-center">
    <div class="content" >

      <div *ngIf="hasRoute('/')" class="card-container">
          <span class="card" routerLink="/game">Enter</span>
      </div>
    </div>
  </div>
  <router-outlet></router-outlet>
</div>

  <div class="container">
    <!--Grid row-->
    <div class="row py-5">
      <!--Grid column-->
      <div class="col-md-12 text-center">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?</p>
      </div>
      <!--Grid column-->
    </div>
    <!--Grid row-->
  </div>

