.bn29 {
    border: none;
    padding: 0.8em 2.5em;
    outline: none;
    color: white;
    font-size: 2em;
    position: absolute;
    z-index: 1;
    cursor: pointer;
    background: none;
    text-shadow: 3px 3px 10px rgba(0, 0, 0, 0.45);
    width: 400px;
    height: 100px;
    top: 85%;
    left: 40%;
  }

  .bn29:before,
  .bn29:after {
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 10em;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    width: 105%;
    height: 105%;
    content: "";
    z-index: -2;
    background-size: 400% 400%;
    background: linear-gradient(
      60deg,
      #f79533,
      #f37055,
      #ef4e7b,
      #a166ab,
      #5073b8,
      #1098ad,
      #07b39b,
      #6fba82
    );
  }

  .bn29:before {
    -webkit-filter: blur(7px);
    filter: blur(7px);
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease;
    -webkit-animation: pulse 10s infinite ease;
    animation: pulse 10s infinite ease;
  }

  .bn29:after {
    -webkit-filter: blur(0.3px);
    filter: blur(0.3px);
  }

  .bn29:hover:before {
    width: 115%;
    height: 115%;
  }

  #winner_name {
    position: absolute;
    z-index: 2;
    font-size: 4em;
    letter-spacing: 15px;
    color:white;
    background: linear-gradient(
        50deg,
        #1653ee,
        #3b65ea,
        #93abf6
    );
    opacity: 0.9;
    border-radius: 40px;
    width: 1500px;
    top: 30%;
    text-align: center;
  }

#looser_name {
  position: absolute;
  z-index: 2;
  font-size: 4em;
  letter-spacing: 15px;
  color:white;
  background: linear-gradient(
      50deg,
      #ee1616,
      #ea3b4a,
      #f693a2
  );
  opacity: 0.9;
  border-radius: 40px;
  width: 1500px;
  top: 50%;
  text-align: center;
}
