<p>admin-panel works!</p>
<div >
    <div>
        <label for="charName">Text Field</label>
        <input type="text"  name="charName" >
    </div>
    <div>
        <label for="side">Text Field</label>
        <input type="text"  name="side" >
    </div>
    <div>
        <label for="ab1">Ability 1</label>
        <select  name="ab1">
            <option value="option-1" selected="true" >Option 1</option>
        </select>
    </div>
    <div>
        <label for="ab2">Ability 2</label>
        <select  name="ab2">
            <option value="option-1" selected="true">Option 1</option>
        </select>
    </div>
    <div>
        <label for="ab3">Ability 3</label>
        <select  name="ab3">
            <option value="option-1" selected="true">Option 1</option>
        </select>
    </div>
    <div>
        <label for="ab4">Ability 4</label>
        <select  name="ab4">
            <option value="option-1" selected="true">Option 1</option>
        </select>
    </div>
    <div>
        <label for="healthPoint">health Points</label>
        <input type="number" name="healthPoint" min="100" max="120">
    </div>
</div>